/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require reset
 *= require_tree .
 *= require_self
 */

.separator_top {
   border-top: 1px solid #36c;
   background: #e0e5ff;
   margin-bottom: 1em;
   color: #808080;
   font-weight: bold;
}

.separator_bottom {
   border-bottom: 1px solid #36c;
   background: #e0e5ff;
   margin-top: 1em;
}

#g_nav {
   border-bottom: 1px solid #ccc;
   margin-bottom: 9px;
}

.navBi {
   display: -moz-inline-box;
   display: inline-block;
   padding: 9px 12px;
   margin: 0;
   list-style-type: none;
}

#userOptions {
  z-index: 2;
  position: absolute;
  right: 0;
  top: 100%;
  padding: 9px 15px;
  border: 1px solid #ccc;
  background: #fff;
  min-width: 150px;
  text-align: left;
}

#userOptionsLabel {
  cursor: pointer;
}

#u_nav{
  margin-right: auto;
  position:relative;
  display: inline-block;
  float:right;
}

#main_logo {
 display: block;
 max-height:95px;
 width: auto;
 height: auto;
}
