.post_job_container{
  margin: 0 auto;
  height: auto;
  padding-left: 50px;
  position: relative;
}

#page-header {
  border-bottom: 2px solid #9cf;
  margin-bottom: 10px;
  width: 500px;
}

#page-header #page-title {
  float: left;
  font-size: 22px;
}

.form-content {
  max-width: 600px;
}

#form-content label {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 3px;
  margin-top: 10px;
}

#form-content input[type=text]{
  width: 480px;
  padding: 6px 6px;
}

#form-content input{
  margin-bottom: 12px;
}

.tip {
  margin-top: -5px;
  font-size: 13px;
  color: #999;
  padding: 3px 0px;
}

.description_tip {
  margin-top: -2px;
  font-size: 13px;
  color: #999;
}

#form-content form textarea {
  width: 490px;
  height: 200px;
  resize: vertical;
}
