body, td {
    font-family: arial,sans-serif;
    font-size: 10pt;
}

body {
    background-color: #fff;
    margin: 0;
}

#signin_task_2col {
    width: 800px;
    margin: 1.5em auto;
    margin-top: 1.5em;
    margin-right: auto;
    margin-bottom: 1.5em;
    margin-left: auto;
}

#signin_task_2col .col {
    width: 50%;
    vertical-align: top;
}

h1.h1c, h2.h2c {
    font-weight: normal;
    font-size: 24px;
    margin: 0;
    padding: 0 12px;
}

h1 {
    font-size: 14.5pt;
    margin: 8px 0 0 12px;
}

.sign_up_prompt {
    margin: 0 0 0 12px;
}

a:visited {
    color: #551a8b;
}
a:link {
    color: #00c;
}

form {
    margin: 0;
}

.form_content {
    border-top: 2px solid #36c;
    background-color: #e0e5ff;
    padding: 12px;
    margin-top: 4px;
}

.line_item {
    clear: both;
    margin-bottom: 12px;
    padding: 0;
}

label {
    white-space: nowrap;
}

#loginform .input_text, #loginform .input_password {
    width: 90%;
}

.blueButton, .blueButton:link {
    border: 1px solid #1841b7;
    text-shadow: 0px -1px #152ba2;
    background: -webkit-linear-gradient(top,#5687f3 0,#2f5bd7 100%);
    color: white;
    font-weight: normal;
    cursor: pointer;
    width: 144.28px;
    height: 32px;
}

.button, .button:link {
    font-family: Arial, sans-serif;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.4em;
    line-height: 2em;
    height: 2em;
    padding: 0 1em;
    font-size: 16px;
}

#col_b2 {
  display:block;
  padding-left:40px;
  padding-top: 30px;
}

.input_guest {
  float: right;
}
