

.navBi {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
   display: -moz-inline-box;
   display: inline-block;
   padding: 9px 12px;
   margin: 0;
   list-style-type: none;
   outline: none;
   cursor: pointer;
   color: #4869EF;
   height: 100%;
}

.navBi b{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding-bottom: 10px;
}

.navBi a{
  height: 100%;
}

.navBi:hover{
  background: 	#84BDF8;
  color: white;
  font-weight: bold;
}

.userOptionItem {
  color: blue;
  padding: 5px 0px 5px 0px;
}

.userOptionItem:hover{
  background: 	#84BDF8;
  color: white;
  font-weight: bold;
}

.navImg{
  max-height: 20px;
  padding-right: 15px;
}
